<div class='row'>
  <div class='col-xs-3 col-md-2'>
    <%= render_document_partial(document, 'thumbnail', document_counter: document_counter) %>
  </div>
  <div class='col-xs-8 col-md-9'>
    <%= render_document_partial(document, 'index_header', document_counter: document_counter) %>
  </div>
  <div class='col-xs-1'>
    <%= iiif_drag_n_drop(get_presentation_manifest(document, document_counter)) %>
  </div>
</div>